# File: .github/workflows/workflow.yml

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
name: AzureCLISample
jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
    - name: 'Checkout'
      uses: actions/checkout@v2
    - name: Azure Login
      uses: Azure/login@v1
      with:
          creds: '{"clientId":"${{ secrets.CLIENT_ID }}","clientSecret":"${{ secrets.CLIENT_SECRET }}","subscriptionId":"${{ secrets.SUBSCRIPTION_ID }}","tenantId":"${{ secrets.TENANT_ID }}"}'
          enable-AzPSSession: true
    - name: 'Download PFX'
      uses: azure/powershell@v1
      with:
        inlineScript: |
          az account show
          az keyvault certificate download --vault-name shell-test -n dn-github -f cert.pem
          dir
        azPSVersion: "latest"

    - name: Code Sign 2020
      run: |
          & 'C:\Program Files (x86)\Windows Kits\10\bin\10.0.22621.0\x64\signtool.exe' sign /f D:\a\test_git_actions_code_signing\test_git_actions_code_signing\cert.pem /p ${{ secrets.PFX}} /v /tr http://timestamp.digicert.com?alg=sha256 /td SHA256 /fd SHA256 D:\a\test_git_actions_code_signing\test_git_actions_code_signing\test.ps1

