# File: .github/workflows/workflow.yml

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
name: AzureCLISample
jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
    - name: 'Checkout'
      uses: actions/checkout@v2
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS}}
        enable-AzPSSession: true
    - name: Azure CLI script
      uses: azure/CLI@v1
      with:
        azcliversion: 2.42.0
        inlineScript: |
          az account show
          az keyvault certificate download --vault-name shell-test -n dn-github -f cert.pem
          ls -lrth
          "c:\Program Files (x86)\Windows Kits\10\bin\10.0.22621.0\x64\signtool.exe" sign /f C:\sign\mpi.pfx /p ${{ secrets.PFX}} /v /tr http://timestamp.digicert.com?alg=sha256 /td SHA256 /fd SHA256 C:\sign\test.ps1
