# File: .github/workflows/workflow.yml

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
name: AzureCLISample
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Azure CLI script
      uses: azure/CLI@v1
      with:
        azcliversion: 2.30.0
        inlineScript: |
          az account show
          az keyvault certificate download --vault-name shell-test -n dn-github -f cert.pem
          ls -lrth
          pwd